


body{
  position: relative;
}
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 44px 16px;
        text-decoration: none;
        font-size: 40px;
        
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color: rgb(192, 43, 17);
      }
      
      p.title {
      font-size: 60px;
      text-align: center;
      padding-top: 20px;
      color: black;
      float:center;
      border-style: solid;
      border-width: 15px;
      border-left: 60px solid rgb(192, 43, 17);
      border-right: 60px solid rgb(192, 43, 17);
      }
      
      p:not(.title){
          text-align: center;
          font-size: 40px;
      }

      .input1{
          margin-top: 500px;
          position: absolute;
          width: 401px;
          height: 50px;
          background-color :rgb(192, 43, 17);
          color: black;
      }

      .input2{
        margin-top: 550px;
        position: absolute;
        width: 400px;
        height: 50px;
        background-color :rgb(255, 255, 255);
      }

      .input3{
        margin-top: 600px;
        position: absolute;
        width: 400px;
        height: 50px;
        background-color :rgb(236, 236, 236);
      }

      button{
        margin-top: 550px;
        position: absolute;
        margin-left:600px;
        width: 80px;
        height: 53px;
      }

      .GO{
        margin-top: 330px;
        position: absolute;
        margin-left: 625px;
      }
     
p.stats{
  margin-top: 178px;
  position: absolute;
  margin-left: 55px;
  border-style: solid;
  border-width: 20px;



}

