




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 44px 16px;
  text-decoration: none;
  font-size: 40px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(192, 43, 17);
}

p.title {
font-size: 60px;
text-align: center;
padding-top: 20px;
color: black;
float:center;
border-style: solid;
border-width: 15px;
border-left: 60px solid rgb(192, 43, 17);
border-right: 60px solid rgb(192, 43, 17);
}

p:not(.title):not(.creator):not(.specialbox1){
    text-align: center;
    font-size: 40px;
    margin-top: 300px;
    position: absolute;
    color: white;
    margin-left: 840px;
}

  
  .creator{
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
    position: absolute;
    color: white;
    margin-left: 1050px;
    font-size: 80px;
  }

  .specialbox1{
    text-align: center;
    font-size: 40px;
    margin-top: 450px;
    position: absolute;
    border-style: dashed;
    border-color: #111;
    border-width: 10px;
    background-color: rgb(245, 239, 239);
    color: black;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 40px;
  }  

  img{
    width:600px;
    height:600px;
    position: absolute;
  }