




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 44px 16px;
  text-decoration: none;
  font-size: 40px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(192, 43, 17);
}

p.title {
font-size: 60px;
text-align: center;
padding-top: 20px;
color: black;
float:center;
border-style: solid;
border-width: 15px;
border-left: 60px solid rgb(192, 43, 17);
border-right: 60px solid rgb(192, 43, 17);
}

p:not(.title){
    text-align: center;
    font-size: 40px;
}